{% extends 'base.html' %}

{% block body %}

    <div class="mainPageContainer">
        <h1 style="color:chartreuse;">Welcome!</h1>
        <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data" class="search">
            <input type="text" name="animeName" placeholder="Please input the anime name you want to search"/>
            <br/>
            <input type="submit" name="search" value="search"/>
        </form>

        <a href="{{ url_for('popular') }}" >
            <h3>See all popular anime!</h3>
        </a>
    </div>


{% endblock body %}